headerbar,
.titlebar,
.titlebar.default-decoration {
  min-height: 34px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: none;
  background-image: none;
}

headerbar > box.left,
headerbar > box.right,
.titlebar > box.left,
.titlebar > box.right {
  border-spacing: 4px;
}

headerbar button.titlebutton,
.titlebar button.titlebutton,
.titlebar.default-decoration button.titlebutton {
  min-width: 24px;
  min-height: 24px;
  margin: 4px 2px;
  padding: 0;
  border-radius: 999px;
  box-shadow: none;
}

headerbar button.titlebutton image,
.titlebar button.titlebutton image,
.titlebar.default-decoration button.titlebutton image {
  -gtk-icon-transform: scale(0.85);
}
